<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    Edit Product
  </h1>

  <div>
    <%= link_to 'Show Category', admin_category_path(@category) , class: "button" %>
  </div>
</header>


<%= form_with(model: @category,url: admin_category_path, local: true, required: true) do |f| %>
  
  <section class="main-content__body">

    <div class="field-unit field-unit--string field-unit--optional">
      <div class="field-unit__label">
      <%= f.label :Name %>
      </div>
      <div class="field-unit__field">
        <%= f.text_field :name, placeholder: "Name of Category" %>
      </div>
    </div>

    <div class="field-unit field-unit--string field-unit--optional">
      <div class="field-unit__label">
        <%= f.label :Short_Description%>
      </div>
      <div class="field-unit__field">
        <%= f.text_area :s_description, placeholder: "Enter Short Description about Category" %>
      </div>
    </div>
    
    <div class="field-unit field-unit--string field-unit--optional">
      <div class="field-unit__label">
        <%= f.label :Long_Description%>
      </div>
      <div class="field-unit__field">
        <%= f.text_area :l_description, placeholder: "Enter Long Description about Category" %>
      </div>
    </div>

    <div class="field-unit field-unit--string field-unit--optional">
      <div class="field-unit__label">
        <%= f.label :Parent %>
      </div>
      <div class="field-unit__field">
      <%= f.collection_select(:parent_id, @categories, :id, :name) %>
      </div>
    </div>

  </section>
  <div class="form-group row justify-content-md-center">
  <%= f.submit%>
 </div>
<% end %>